body {
    background-color: black;
    margin: 2vh 2vw;
    font-size: 2vh;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#root {
    font-size: 2vh;
    position: fixed;
    background-color: white;
    width: 96vw;
    height: 96vh;
}

/* Styling the header and its contents */
header {

    width: 94vw;
    height: 18vh;
    padding-left: 2vw;
    border-bottom: 1px solid black;
}

.title {
    display: flex;
    align-items: baseline;
}

#commit {
    color: grey;
    margin-left: 2vw;
    width: 50vw;
    height: 5vh;
    font-size: 2vh;
}

/* Visualization Tabs Styling */
.visual-tab-bar {

    width: 92vw;
    height: 5vh;
}

.visual-tab-bar>button {
    margin: 0.5vh;
}

.visual-tab-content {
    margin: 0 2vw;
}

.visual-tabs {
    height: 4vh;
    width: 10vw;
    font-size: 1vw;
}

.visual-tabs:hover {
    cursor: pointer;
}

.active {
    background-color: yellow;
}

/* Styling the main content which will contain visuals and reports */
main {
    background-color: pink;
    font-size: 2vh;
    margin: 2vh 2vw;
    height: 74vh;
    width: 92vw;
    overflow-x: scroll;
}

/* Mouse Scrollbar modifications */
::-webkit-scrollbar {
    width: 0.5vw;
    height: 0.5vh;
}
::-webkit-scrollbar-thumb {
    background: rgb(189, 189, 125);
    border-radius: 5%;
}

/* Applying media queires to make it visually appealing across different devices */
@media only screen and (max-width: 575px) {
    header {
        height: 20vh;
    }
}

@media only screen and (max-width: 415px) {
    header {
        height: 19vh;
        font-size: 1vh;
    }

    .visual-tabs {
        height: 4vh;
        width: 10vw;
    }
}

@media only screen and (max-width: 345px) {
    header {
        height: 13vh;
        font-size: 1vh;
    }

    .visual-tabs {
        height: 2vh;
        width: 9vw;
        font-size: 0.5vh;
        overflow: hidden;
    }
}