#treemap {
    margin-top: 0px;
    padding: 0px;
    position: relative;
}

.node {
    box-sizing: border-box;
    position: absolute;
    overflow: hidden;
}

.node-label {
    color: black;
    padding: 4px;
    line-height: 1.25em;
    white-space: pre;
}

.node-value {
    font-size: 10px;
    margin-top: 2px;
}

#scatter-plot {
    height: 80vh;
    padding: 10px;
    display: block;
}

.tooltip {
    position: absolute;
}

.tooltip {
    display: none;
}

th { text-transform: uppercase; }
